<h3>Список пользователей: </h3>

<table class="table table-bordered">
  <thead>
  <%# <tr> - это строка, <td>  - это столбец %>

  <%# Ставлю заголовок таблицы %>
    <tr>
      <th>Имя</th>
      <th>Номер телефона</th>
      <th>Дата и время записи</th>
      <th>Мастер</th>
      <th>Цвет краски</th>
    </tr>

  </thead>
  <%# Вывожу руби код в тело таблицы %>
  <tbody>
  <% @results.each do |row| %>
    <tr>
      <td><%= row['Name'] %></td>
      <td><%= row['Phone'] %></td>
      <td><%= row['DateStamp'] %></td>
      <td><%= row['Barber'] %></td>
      <td style="background-color: <%= row['Color'] %>"><%= row['Color'] %></td>   
    </tr>
  <% end %>
  </tbody>

</table>